<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Catalogue</title>
    
    
    <link rel="stylesheet" href="/librarianbookmanagement_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <style>
    </style>
</head>
<body>    
    <img class="background">
    <!-- NAV BAR -->
    <div class="navbar">
        <h1>Book Catalogue</h1>
        <div class="logout">
            <a href='/library-management-system/login'>Log out</a>
        </div>
    </div>
    <!-- THE DIV ITSELF FOR THE SIDEBAR -->
    <div class="sidebar" id="sidebar">
        
        <li onmouseenter="toggleSubMenu()" onmouseleave="hideSubMenu()" id="subMenuIndicator">
            <!-- IF THE MOUSE ENTERS THE RANGE OF THE LINE ABOVE, IT WILL TRIGGER THE SUBMENU -->
            <div class="subMenu" id="subMenuDiv"></div>
        </li>   
    </div>
    <!-- CLICK THIS TO TOGGLE THE SIDEBAR -->
    <div class="menu-toggle" onclick="toggleSidebar()">
        <i class="fas fa-bars thin-menu-icon"></i>
    </div>


    <div id="bookCatalogueDiv">

    </div>




    <script src="/bookCatalogue_script.js">
    


    </script>
</body>
</html>