<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- FOR BOOK INFORMATION. BUTTONS: RESERVE AND BORROW -->

    <!-- THE FIELDS FOR THE BOOK -->
    <p id="bookId"></p>
    <p id="date"></p>
    <p id="author"></p>
    <p id="genre"></p>
    <p id="title"></p>
    <p id="copies"></p>
    <img id="picture">
    
    <!-- THE BUTTONS FOR BORROW AND RESERVE -->
    <button onclick="location.href='/library-management-system/users/borrow-book'" type="button">Borrow Book</button>
    <button onclick="location.href='/library-management-system/users/reserve-book'" type="button">Reserve Book</button>
    <script src="/bookInfo_script.js"></script>
    
</body>
</html>